.avatar{
    background-color: lightpink;
    width:40px;
    height:40px;
    border-radius: 50%;
    display:flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 2px black;
}
.dot{
    width: 13px;
    height:13px;
    background-color: rgb(1, 156, 1);
    position: absolute;
    right:0px;
    bottom:0px;
    border-radius: 50%;
    border-color: white;
}
.dot1{
    width: 13px;
    height:13px;
    background-color: rgb(161, 159, 159);
    position: absolute;
    right:0px;
    bottom:0px;
    border-radius: 50%;
    border-color: white;
}


